/* scss - variables */
$dark: #000000;
$secondary: #2C2C2C;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body {
  overflow-x: hidden;
  max-width: 100%;
}

body, h1, h2, h3, h4, h5, h6, span, p {
  font-family: 'Rubik', sans-serif;
}




/* Typography */

h1, .h1 {font-size: 56px; line-height: 66.36px; font-weight: 500; color: $dark; margin-bottom: 20px; margin-top: 0px;}
h2, .h2 {font-size: 48px; line-height: 56.88px; font-weight: 500; color: $dark; margin-bottom: 20px; margin-top: 0px;}
h3, .h3 {font-size: 42px; line-height: 49.77px; font-weight: 500; color: $secondary; margin-bottom: 14px; margin-top: 0px;}
h4, .h4 {font-size: 24px; line-height: 28.44px; font-weight: 500; color: $dark; margin-bottom: 12px; margin-top: 0px;}
h5, .h5 {font-size: 22px; line-height: 26.07px; font-weight: 400; color: $dark; margin-bottom: 10px; margin-top: 0px;}
p, .p {font-size: 18px; line-height: 21.33px; font-weight: 400; color: $secondary; margin-bottom: 8px; margin-top: 0px;}
p.lg, .p.lg {font-size: 18px; line-height: 26.55px; font-weight: 400; color: $secondary; margin-bottom: 8px; margin-top: 0px;}
p.sm, .p.sm {font-size: 16px; line-height: 23.6px; font-weight: 400; color: $secondary; margin-bottom: 8px; margin-top: 0px;}
p.xs, .p.xs {font-size: 14px; line-height: 16.59px; font-weight: 400; color: $secondary; margin-bottom: 8px; margin-top: 0px;}


@media only screen and (max-width: 1199px) {
  h1, .h1 {font-size: 48px; line-height: 55px;}
  h2, .h2 {font-size: 40px; line-height: 45px;}
  h3, .h3 {font-size: 30px; line-height: 36px;}
  h4, .h4 {font-size: 22px; line-height: 26px;}
  h5, .h5 {font-size: 20px; line-height: 24px;}
  p, .p {font-size: 16px; line-height: 19px;}
  p.lg, .p.lg {font-size: 16px; line-height: 24px;}
  p.sm, .p.sm {font-size: 16px; line-height: 21px;}  
}
@media only screen and (max-width: 767px) {
  h1, .h1 {font-size: 38px; line-height: 44px;}
  h2, .h2 {font-size: 30px; line-height: 36px;}
  h3, .h3 {font-size: 25px; line-height: 30px;}
  h4, .h4 {font-size: 20px; line-height: 24px;}
  h5, .h5 {font-size: 18px; line-height: 20px;}
  p, .p {font-size: 14px; line-height: 18px;}
  p.lg, .p.lg {font-size: 14px; line-height: 20px;}
  p.sm, .p.sm {font-size: 14px; line-height: 20px;}  
}


.container.lg {
  max-width: 1340px;
}
.container {
  max-width: 1190px;
}
img {
  max-width: 100%;
}

.pb-20 {
  padding-bottom: 20px;
}

/* section haeding css */
.heading-underline {
  &:after, &:before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #A9A9A9;
  }
}
.heading-underline {
  &:before {
    bottom: -8px;  
    width: 27%;  
    border-radius: 5px;
    height: 7px;  
  }
}

/* section wise css */
.engagement-section, .communications-section, .facilitation-section, .consultation-research-section, .traning-mentoring-section {
  padding-top: 30px;
  padding-bottom: 30px;
}
.engagement-section .col-md-6:nth-child(even), .communications-section .col-md-6:nth-child(even),
.facilitation-section .col-md-6:nth-child(even), .consultation-research-section .col-md-6:nth-child(even),
.traning-mentoring-section .col-md-6:nth-child(even) {
  padding-left: 85px;
}

.our-team-section {
  padding-top: 125px;
  padding-bottom: 85px;
}
.our-projects-section {
  padding-bottom: 120px;
}

.about-section {
  padding-top: 85px;
  padding-bottom: 95px;
}

/* nav menu */
.navbar-nav {
  .nav-link {
    padding: 8px 0px 8px 35px!important;
    color: black!important;
    font-size: 18px;
    line-height: 21.09px;
    font-family: 'Roboto', sans-serif;
  }
}

/* all shapes css */
.shape-1 {
  position: absolute;
  top: -110px;
  left: 0px;
}
.shape-2 {
  position: absolute;
  top: 40px;
  right: 0px;
}
.shape-3 {
  position: absolute;
  top: -170px;
  left: 0px;
}
.shape-4 {
  position: absolute;
  top: -160px;
  right: 0px;
}
.shape-5 {
  position: absolute;
  top: 40px;
  right: 0px;
}

.banner-shape-1 {
  position: absolute;
  left: 0;
  top: 0;
}
.banner-shape-2 {  
  position: absolute;
  top: 0;
  right: 0;
}
.banner-shape-3 {  
  position: absolute;
  bottom: 0;  
  right: 0;
}
.banner-shape-4 {  
  position: absolute;
  bottom: 0;  
  left: 0;
  z-index: -1;
}

.banner-section {
  height: 900px;
  .inside-banner {
    height: 790px;
  }
}

/* footer */

footer {
  .container.lg {
    padding: 50px 15px 42px 15px;
    background-color: #BFDBFF;  
  }
  .heading {
    font-size: 16px; line-height: 35.26px; font-weight: 700; color: $dark; margin-bottom: 8px; text-align: left;
  }
  .subheading {
    text-align: left;
    padding: 0;
    list-style: none;
    a {
      font-size: 14px; line-height: 30.94px; font-weight: 400; color: $secondary; margin-bottom: 15px; text-align: left;
    }
  }
}



/* media query css */

@media only screen and (max-width: 1199px) {
  .our-projects-section {
    padding-bottom: 60px;
  }
  .banner-section {
    height: 768px;
    .inside-banner {
      height: 658px;
    }
  }  
}

@media only screen and (max-width: 991px) {  
  .engagement-section .col-md-6:nth-child(even), .communications-section .col-md-6:nth-child(even),
  .facilitation-section .col-md-6:nth-child(even), .consultation-research-section .col-md-6:nth-child(even),
  .traning-mentoring-section .col-md-6:nth-child(even) {
    padding-left: 12px;
  }
  .w-lg-75 {
    width: 75%;
  }
  .w-lg-50 {
    width: 50%;
  }

  .shape-1 {    
    top: -80px;
    left: -130px;
  }
  .shape-2 {
    top: -40px;
    right: -110px;
  }      
  .shape-4 {
    top: -210px;
    right: -130px;
  }

  .navbar-collapse {
    background-color: white;
    padding: 5px 25px;
    border: 1px solid #ccc;
    position: absolute;
    right: 10px;
    top: 90px;
    left: 10px;
    a {
      border-bottom: 1px solid #ccc;
      &:last-child {
        border-bottom: none;
      }
    }
  }
  .navbar-nav .nav-link {
    padding: 15px!important;
  }
}

@media only screen and (max-width: 767px) {  
  .our-team-section {
    padding-bottom: 50px;
  }
  .w-md-75 {
    width: 75%;
  }
  .shape-1 {
    left: -230px;
  }
}